/* .about-main{
    display: flex;
    justify-content: center;
    background-color: #333;
}
.div-title{

   
}





.about-us {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
  }
  
  .about-us h1 {
    color: #333;
  }
  
  .about-us p {
    color: #666;
  }
  
  .about-us-image {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
  }
   */



   .about-main {
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    border-top-right-radius:  100px;
    border-bottom-left-radius: 100px;
    justify-content: center;
    background-color: #d09d90c1;
    padding: 20px;
    margin-bottom: 20px;
}

.div-title {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* اضافه کردن باکس شدو */
    border-radius: 5px; /* گرد کردن لبه‌ها */
    padding: 10px; /* اضافه کردن فاصله داخلی */
    margin: 0 auto;
    overflow: auto; 
}

.about-us {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.about-us h1 {
    color: #333;
}

.about-us p {
    color: #666;
}

.about-us-image {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}
