




.app-style{
   
   
    background-color: black;

    width: 100%;
    border: 2px solid rgba(221, 162, 69, 0.768);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 50px;


}


@media (max-width: 768px) {
    .app-style {
      width: 100%;
      padding: 15px;  /* کاهش پدینگ در صفحه‌های کوچک */
    }
  }
  
