.breadcrumb {
    position: absolute;
    top: 20px; 
    left: 20px; 
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    direction: ltr;
    padding: 0;
    margin-top: 90px;
    justify-content: flex-start;
  }
  
  .breadcrumb li {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb li::after {
    content: ">";
    margin: 0 5px;
    color: white;
  }
  
  .breadcrumb li:last-child::after {
    content: "";
  }
  .link-bread{
    color: antiquewhite; 
  text-decoration: none;
  }



  @media screen and (max-width: 1024px) {
    .breadcrumb {
     margin-top: 130px;
     padding-left: 50px;
    }
  }
    
  
  @media screen and (max-width: 768px) {
    .breadcrumb {
      margin-top: 180px;
      padding-left: 10px;
    }
  
  }