.footer-container {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-sizing: border-box;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 50px;
    margin-right: 10px;
}

.footer-nav, .footer-contact, .footer-social, .footer-subscribe {
    flex: 1 1 200px;
}

.footer-nav ul, .footer-contact ul, .footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-nav a, .footer-contact a, .footer-social a {
    text-decoration: none;
    color: #fff;
}

.footer-nav a:hover, .footer-contact a:hover, .footer-social a:hover {
    color: #f3c4c4;
    font-size: 1.2rem;
}

.footer-subscribe input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}

.footer-subscribe button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #444;
    color: #fff;
    cursor: pointer;
}

.footer-subscribe button:hover {
    background: #ba6c6c;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    flex-basis: 100%;
}
h4:hover{
color: seagreen;
font-size: 1.2rem;



}
.footer-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* قرار دادن آیتم‌ها به صورت عمودی */
    gap: 10px; /* فاصله بین آیتم‌ها */
}

.footer-social li {
    display: flex;
    align-items: center;
}

.footer-social a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer-social i {
    font-size: 15px; /* اندازه آیکون‌ها */
    margin-right: 8px; /* فاصله بین آیکون و متن */
    color: red;
}

.footer-social a:hover {
    color: #f3c4c4;
    
}
.input-footer:hover{

background-color: rgb(225, 165, 212);
cursor: pointer;


}
