.heder-box{
/*   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    color: darkgoldenrod;
    width: 100%;
    height: 150px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 tomato;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box; Ensures padding and border are included in the width */


}
.heder-box {
    text-align: center; 
    height: 70px;
    margin-top: 30px;
}

.heder-box p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: red;
    transition: color 0.3s;
}

.heder-box p:hover {
    color: blue;
}

.heder-box h1 {
    font-size: 24px;
    color: rgb(249, 235, 235);
}
.heder-box h1:hover{
    cursor: pointer;
    color: brown;
}