.header-container {
    position: sticky; /* هنگام اسکرول در جای خود ثابت بماند */
    top: 0; /* وقتی به بالای صفحه رسید فیکس شود */
    background: white;
    color: red;
    width: 80%;
    border-radius: 15px;
    gap: 20px;
    margin-bottom: 30px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto 30px auto;
    z-index: 999; /* مطمئن می‌شویم که روی بقیه عناصر باشد */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* برای وضوح بیشتر */
}


.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    text-decoration-color: hsl(253, 77%, 25%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}

.logo-text:hover {
    font-size: 2rem;
    text-decoration: none;
}

.header-logo {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    position: relative;
    text-decoration: none; /* حذف خط پیش‌فرض */
    color: rgb(21, 19, 19); /* رنگ پیش‌فرض لینک */
    transition: color 0.3s ease-in-out;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* مقدار فاصله خط از متن */
    width: 0;
    height: 2px; /* ضخامت خط */
    background-color: #5d0ac9;
    transition: width 0.3s ease-in-out;
}

nav a:hover {
    color: #5d0ac9;
    font-size: larger;
}

nav a:hover::after {
    width: 100%;
}

.border-li:hover {
    background-color: #f6b88c;
}
