.img-heder {
    width: 100% !important;  
    max-width: 1300px; /* این باعث می‌شود در صفحه‌های بزرگ‌تر محدود بماند */
    height: 600px; /* ارتفاع را متناسب نگه می‌دارد */
    border-radius: 50px;
}
.btn-img{

    width: 70%;
    height: 30px;
    border-radius: 10px;
    box-shadow: olive;
    background-color: brown;
    color: aliceblue;
    margin-bottom: 30px;
  
}
.btn-hid{

    width: 70%;
    height: 30px;
    border-radius: 10px;
    box-shadow: rgb(187, 187, 109);
    background-color: rgb(34, 4, 114);
    color: aliceblue;
    margin-bottom: 30px;
}

.btn-img:hover{
background-color: darkmagenta;
cursor: pointer;
width: 70%;

}
.btn-hid:hover{

    background-color: darkmagenta;
    cursor: pointer;
    width: 70%;

}


.image-container {
    width: 100% !important;
    max-width: 1300px;
}

.img-heder {
    width: 1300x; 
    height: 600x; 
    object-fit: cover; 
    border-radius: 8px; 
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1;
}
@media (max-width: 1024px) {
    .img-heder {
        width: 90% !important;
        border-radius: 30px;
    }
}

@media (max-width: 768px) {
    .img-heder {
        width: 100% !important;
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .img-heder {
        width: 100% !important;
        border-radius: 10px;
    }
}
