.img-heder{
    margin-bottom: 20px;
    width: 80%;
    height: 500px;
    box-shadow: 0px 4px 8px #fffefcff;
    border-radius: 50px;
}
.btn-img{

    width: 70%;
    height: 30px;
    border-radius: 10px;
    box-shadow: olive;
    background-color: brown;
    color: aliceblue;
    margin-bottom: 30px;
    
    
    
}
.btn-hid{

    width: 70%;
    height: 30px;
    border-radius: 10px;
    box-shadow: rgb(187, 187, 109);
    background-color: rgb(34, 4, 114);
    color: aliceblue;
    margin-bottom: 30px;

}


.btn-img:hover{

background-color: darkmagenta;
cursor: pointer;
width: 70%;

}
.btn-hid:hover{

    background-color: darkmagenta;
    cursor: pointer;
    width: 70%;

}


.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.img-heder {
    width: 1200px; /* عرض ثابت */
    height: 500px; /* ارتفاع ثابت */
    object-fit: cover; /* برای برش تصویر بدون تغییر نسبت */
    border-radius: 8px; /* لبه‌های گرد (اختیاری) */
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1;
}
