.image-container {
    width: 100% !important;
    max-width: 1300px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgb(218, 214, 214);
    display: flex;
    justify-content: center; 
    align-items: center;
}
.img-heder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; 
    transition: transform 0.3s ease-in-out;
    min-width: 300px; /* جلوگیری از ناپدید شدن تصویر در صفحات خیلی کوچک */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1;
}

.btn-img{

    width: 70%;
    height: 30px;
    border-radius: 10px;
    box-shadow: olive;
    background-color: brown;
    color: aliceblue;
    margin-bottom: 30px;
  
}
.btn-hid{

    width: 70%;
    height: 30px;
    border-radius: 10px;
    box-shadow: rgb(187, 187, 109);
    background-color: rgb(34, 4, 114);
    color: aliceblue;
    margin-bottom: 30px;
}

.btn-img:hover{
background-color: darkmagenta;
cursor: pointer;
width: 70%;

}
.btn-hid:hover{

    background-color: darkmagenta;
    cursor: pointer;
    width: 70%;

}


@media (max-width: 1024px) {
    .image-container {
        height: 400px;
    }
    .img-heder {
        border-radius: 30px;
    }
}

@media (max-width: 768px) {
    .image-container {
        height: 300px;
    }
    .img-heder {
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .image-container {
        height: 250px;
    }
    .img-heder {
        border-radius: 10px;
    }
}
