.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #625c5c; 
}

.login-card {
  width: 1200px; 
  height: 600px; 
  background-color: #333333; 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(216, 149, 15, 0.979); 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  position: relative;
}


h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3); /* جلوه درخشان */
  transition: color 0.3s ease, text-shadow 0.3s ease; 
}

h1:hover {
  color: #ff6600; 
  text-shadow: 0 0 10px rgba(255, 102, 0, 0.7), 0 0 20px rgba(255, 102, 0, 0.5), 0 0 30px rgba(255, 102, 0, 0.3); /* تغییر جلوه درخشان هنگام هاور */
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px; 
  }

  .profile-pic {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .profile-pic:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.8), 0 0 30px rgba(255, 102, 0, 0.6); 
  }
  

.username {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  width: 40%;
  margin-left: 70px; 
  color: #fff; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3); /* جلوه درخشان */
  transition: color 0.3s ease, text-shadow 0.3s ease; 
}

.username:hover {
  color: #ff6600; 
  text-shadow: 0 0 10px rgba(255, 102, 0, 0.7), 0 0 20px rgba(255, 102, 0, 0.5), 0 0 30px rgba(255, 102, 0, 0.3); /* تغییر جلوه درخشان هنگام هاور */
}


.div-input-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}

.styled-input {
  width: 30%;
  padding: 12px;
  margin: 10px 0;
  border: none; 
  background-color: #f9f9f9; 
  color: #333; 
  font-size: 16px; 
  transition: all 0.3s ease; 
}




.btn {
  width: 30%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.subscribe-btn {
  background-color: #ff6600; 
  color: white; 
  padding: 12px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.subscribe-btn:hover {
  background-color: #ff9900; 
  box-shadow: 0 4px 8px rgba(255, 153, 0, 0.6); 
  transform: translateY(-2px); 
}

.visit-btn {
  background-color: #f6c000f5; 
  color: white; 
  padding: 12px 20px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.visit-btn:hover {
  background-color: #e2b84d; 
  box-shadow: 0 4px 8px rgba(160, 120, 0, 0.6); 
  transform: translateY(-2px); 
}









